@model List<WebAtividadeEntrevista.Models.BeneficiarioModel>
<table>
    <thead>
        <tr>
            <td>Nome</td>
            <td>CPF</td>
            <td>Ações</td>
        </tr>
    </thead>
    <tbody>
        @{ var i = 0;}
        @foreach (WebAtividadeEntrevista.Models.BeneficiarioModel item in Model)
        {
            <tr id="@i">
                <td>@item.Nome</td>
                <td>@item.CPF</td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary" OnClick="alterarBeneficio(@item.Id)">Alterar</button>
                    <button type="button" class="btn btn-sm btn-primary" OnClick="excluirBeneficio(@item.Id)">Excluir</button>
                </td>

            </tr>
            i++;
        }

    </tbody>
</table> 